<div id="settingsContainer" style="display: none;">
    <div id="settingsContainerLeft">
        <div id="settingsNavContainer">
            <div id="settingsNavHeader">
                <span id="settingsNavHeaderText">options</span>
            </div>
            <div id="settingsNavItemsContainer">
                <div id="settingsNavItemsContent">
                    <div class="settingsNavDivider"></div>
                    <button class="settingsNavItem" rSc="settingsTabAccount" id="settingsNavAccount" selected>Compte Mojang</button>
                    <button class="settingsNavItem" rSc="settingsTabJava">Java</button>
                    <button class="settingsNavItem" rSc="settingsTabram">Ram</button>
                    <button class="settingsNavItem" rSc="settingsTabAbout">À propos</button>
                    <div id="settingsNavContentBottom">
                        <div class="settingsNavDivider"></div>
                        <button id="settingsNavDone">Terminé</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="settingsContainerRight">
        
        <%- include('settings/about') %>
        <%- include('settings/account') %>
        <%- include('settings/java') %>
        <%- include('settings/launcher') %>
        <%- include('settings/minecraft') %>
        <%- include('settings/mods') %>
        <%- include('settings/ram') %>

    </div>
    <script src="./assets/js/scripts/settings.js"></script>
</div>